<div class="media">
  <div class="media-body">
      <h4 class="media-heading">
        <%= link_to entry.topic.title, entry.topic %>
      </h4>
      <div class="col-md-7">
        <small> 
          <%= entry.created_at.to_date %> by <%= entry.user.name %> <br />
          
          Tags: <%= raw entry.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %>

        </small>
        <br />

        <% if @entry.image? %>
          <%= image_tag(@entry.image.large) %>
          <br />
        <% end %>

        <div class="entry-body"><%= entry.body.html_safe %></div>
    </div>
  </div>
</div>