<div class="col-md-4">
  <div class="media">
      
      <div class="media-body">
        <% if @user.avatar? %>
          <%= image_tag @user.avatar.url, class: 'pull-left' %>
        <% end %>
        <h2><%= @user.name %></h2>
        <p><%= @user.email %></p>

        <div id="tag_cloud">
          <h4>Tag Cloud</h4>
          
          <% tag_cloud Entry.tag_counts, %w{s m l} do |tag, css_class| %>
            <%= link_to tag.name, tag_path(tag.name), class: css_class %>
          <% end %>
        
        </div>
      </div>
    </div>
</div>

<div class="col-md-8">
  <br />
  <% @public_entries.each do |entry| %>
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
          <%= link_to entry.topic.title, entry %>
        </h4>
        <small>
          Tags: <%= raw entry.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %>
        </small>
        
        <%= entry.body.html_safe %> 
      </div>
    </div>
  <% end %>
  
</div>